<html>
<nav class="navbar  navbar-expand-lg navbar-light nav justify-content-center bg-white">
    <div class="navbar-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link active" href="admin">
                    <h4>Početna strana</h4>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" role="button" (click)="func1()">
                    <h4>Obavestenja</h4>
                </a>
            </li>
        </ul>
    </div>

    <div class="navbar-nav">
        <ul class="navbar-nav mr-auto">
            <li>
                <a class="navbar-brand" href="admin">
                    <img src="../../assets/logo_clear.jpg" width="145" height="230" alt="">
                </a>
            </li>
        </ul>
    </div>
    <div class="navbar-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="kontakt_admin">
                    <h4>Kontakt</h4>
                </a>
            </li>
            <li>
                <a class="nav-link" role="button" (click)="func()">
                    <h4>Odjavi se</h4>
                </a>
            </li>
        </ul>
    </div>
</nav>
<br><br>
<div id="page">
<br><br>

<table class="table">
    <tbody>
        <tr align="center">
            <td>
                <h3 style="color: white;">Azuriranje sifrarnika za kategoriju vesti</h3>
            </td>
        </tr>
        <tr *ngFor="let d of data" align="center">
            <td>
                <span style="color: white;">Naziv: {{d.name}}</span>
            </td>
        </tr>
        <tr align="center">
            <td>
                <h5 style="color: white;">Dodaj novu stavku</h5>
            </td>
        </tr>
        <tr align="center">
            <td>
                <input type="text" name="kategorijaVesti" [(ngModel)]="kategorijaVesti">
            </td>
        </tr>
        <tr align="center">
            <td>
                <button class="btn btn-success" (click)="dodaj()">Dodaj</button>
            </td>
        </tr>
    </tbody>
</table>
</div>













</html>