<html>
<nav class="navbar  navbar-expand-lg navbar-light nav justify-content-center bg-white">
    <div class="navbar-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                <a class="nav-link " href="drustvo">
                    <h4>Početna strana</h4>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link " href="obavestenja_udruzenje">
                    <h4>Obavestenja</h4>
                </a>
            </li>
        </ul>
    </div>

    <div class="navbar-nav">
        <ul class="navbar-nav mr-auto">
            <li>
                <a class="navbar-brand" href="drustvo">
                    <img src="../../assets/logo_clear.jpg" width="145" height="230" alt="">
                </a>
            </li>
        </ul>
    </div>
    <div class="navbar-nav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link active" href="kontakt_udruzenje">
                    <h4>Kontakt</h4>
                </a>
            </li>
            <li>
                <a class="nav-link" role="button" (click)="func()">
                    <h4>Odjavi se</h4>
                </a>
            </li>
        </ul>
    </div>
</nav>
<div class="page">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div>
        <h3 align="center">
            Za sva pitanja u vezi portala mozete nam se obratiti putem:
        </h3>
        <br><br><br><br>
        <table class="table" align="center" bgcolor="white">
            <tbody align="center">
                <tr align="center">
                    <td>
                        <a href="https://www.facebook.com/nedeljko.jokic.5">
                            <img src="../../assets/fb.png">
                        </a>
                        <br><br>
                        <a href="https://www.facebook.com/nedeljko.jokic.5">
                            <b>Facebook</b>
                        </a>
                    </td>

                    <td>
                        <img src="../../assets/ig.png"><br><br>
                        <a href="https://www.facebook.com/nedeljko.jokic.5">
                            <b>Instagram</b>
                        </a>
                    </td>

                </tr>
                <tr align="center">
                    <td>
                        <img src="../../assets/phone_logo.png"><br><br>
                        <b>Pozovite nas</b> <br>
                        +381691525010
                    </td>

                    <td>
                        <img src="../../assets/phone_logo1.png"><br><br>
                        <b>Pozovite nas</b> <br>
                        +381691661790
                    </td>

                </tr>
                <tr>
                    <td>
                        <a href="mailto:nedeljkojokic97@gmail.com">
                            <img src="../../assets/gmail_logo.png">
                        </a><br><br>
                        <b>Email</b> <br>
                        nedeljkojokic97@gmail.com
                    </td>

                    <td>
                        <a href="mailto:jn160139d@student.etf.bg.ac.rs">
                            <img src="../../assets/mail_logo.png">
                        </a><br><br>
                        <b>Email</b> <br>
                        jn160139d@student.etf.bg.ac.rs
                    </td>
                    <td align="left">


                    </td>
                </tr>

            </tbody>
        </table>
    </div>


</div>







</html>