#page{
    text-align: center;
    background-image: url('../../assets/pozadina4.jpg');
    background-size: cover;
    background-position: top;
    background-size:100%;
}

#azuriranje{
    text-align: center;
    background-image: url('../../assets/pozadina_pravljenje_vesti.png');
    background-size: cover;
    background-repeat: repeat;
    background-position: top;
    background-size:100%;
}